@import "custom.css";
@import "../../node_modules/swiper/swiper.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF5EE;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
